@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.note-submit-button{
    margin: 10px;
}

.title-input{
    margin-top: 5px;
}

.notebook-categories{
    margin-top: 5px;
    margin-bottom: 5px;
}

.hook{
    margin-top: 5px;

}

.needle{
    margin-top: 5px;
}

.yarn-input{
    margin-top: 5px;
}
.editor{
    padding-top: 5px;
    max-width: 50rem;
}
