@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


.footer{
    background-color: rgb(255, 248, 254, 0.5);
    padding: 10px;
    color: rgb(58, 24, 50);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
    width: 100%;
}

.links{
    color: rgb(58, 24, 50);
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
}
