a {
    padding: 5px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgb(58, 24, 50);
}

a:hover{
    background-color: rgb(255, 248, 254);
    border-radius: 5px;
}

.nav-bar {
    background-color: rgb(255, 248, 254, 0.5);
    padding: 10px;
    padding-bottom: 2px;
    display:flex;
    align-items: center;
    align-self: center;


  }

 .profile-dropdown{
    font-family: 'Montserrat', sans-serif;
      margin-top: 7px;
      margin-right: 0px;
      border-radius: 10px;
      background-color: rgb(255, 248, 254);
      max-width: 320px;

  }
  .profile-button{
    appearance: auto;
    color: none;
    padding: 5px;
    display: inline-block;
    text-align: left;
    justify-content: space-between;
    cursor: default;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(255, 248, 254);
    padding: 4px 10px;
    border-width: 2px;
    border-style: none;
    border-color: none ;

}

.logout-button{
    background-color: thistle;
}

.logout-button:hover{
    background-color: rgb(235, 215, 235);
}

.home{
    padding-bottom: 0px;
}

.search{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
